<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!--/*@thymesVar id="title" type="java.lang.String"*/-->
    <title th:text="${title}">AppTitle</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink=to-fit=no">
    <meta name="referrer" content="origin">
    <meta name="robots" content="noindex,nofollow">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--/*@thymesVar id="favicon" type="java.lang.String"*/-->
    <link th:href="${favicon}" rel="shortcut icon">
    <!--/*@thymesVar id="cssResources" type="java.util.List"*/-->
    <th:block th:each="cssResource : ${staticResources.cssResources}">
        <!--/*@thymesVar id="cssResource" type="java.lang.String"*/-->
        <link th:href="${cssResource}" rel="stylesheet" type="text/css" media="screen">
    </th:block>
    <script th:inline="javascript">
        /*<![CDATA[*/
        window.initialAppState = JSON.parse([[${initialAppStateJson}}]]);
        /*]]>*/
    </script>
</head>
<body>
    <div id="content"></div>
    <!--/*@thymesVar id="jsResources" type="java.util.List"*/-->
    <th:block th:each="jsResource : ${staticResources.jsResources}">
        <!--/*@thymesVar id="jsResource" type="java.lang.String"*/-->
        <script th:src="${jsResource}" type="text/javascript"></script>
    </th:block>
</body>
</html>